<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/job-details.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <nav class="relative shadow-xl text-white-700">
        <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
            <div class="flex items-center justify-between text-black-500">
                <div class="logo" style="display: flex;align-items: center;justify-content: center; gap: 5px;">
                    <a href="#">
                        <img class="w-auto h-6 sm:h-7"
                            src="https://upload.wikimedia.org/wikipedia/en/e/ec/Official_logo_of_Biju_Patanaik_University_of_Technology.png"
                            alt="">
                    </a>
                    <h3>BPUT</h3>
                </div>
              
                <div class="flex center lg:hidden">
                    <button type="button"
                        class="text-gray-500 flex center dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
                        aria-label="toggle menu">
                        <svg id="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                        </svg>



                    </button>
                </div>
            </div>


            <div id="phone-dropdown"
                class="absolute inset-x-0 z-20 w-full px-6 hidden py-4 transition-all duration-300 ease-in-out bg-white  md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center">
                <div class="flex flex-col md:flex-row md:mx-6">
                    <a class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-black-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0"
                        href="#">Home</a>
            
                  
                    <a id="dropdownUserAvatarButton"
                        class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-black-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0"
                        href="#">Profile</a>

                </div>




               
                <div id="dropdownUserAvatar" style="display: none;">
                    <div id="dropdownAvatar"
                        class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white-700 dark:divide-gray-600">
                        <div class="px-4 py-3 text-sm text-gray-900 dark:black-white">
                            <div>ADMIN</div>
                            <div class="font-medium truncate">@BPUT.UNIVERSITY</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 dark:text-black-200"
                            aria-labelledby="dropdownUserAvatarButton">
                            <li>
                                <a href="/admin/dashboard"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                                <a href="/student"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add
                                    Student</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"></a>
                            </li>
                        </ul>
                        <div class="py-2">
                            <a href="#"
                                class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-black-200 dark:hover:text-white">Sign
                                out</a>
                        </div>
                    </div>
                </div>

            </div>
    </nav>

    <div id="title">
        <div class="text">Jobs for you</div>
        <div>


   


        <div
            class="relative flex min-h-screen flex-col jus items-center justify-center overflow-hidden bg-gray-50 p-6 sm:py-12">
            <% for(job of jobs){ %>
                <div
                    class="bg-white  shadow-xl mt-2 shadow-gray-100 w-full max-w-4xl flex flex-col sm:flex-row gap-3 sm:items-center  justify-between px-5 py-4 rounded-md">
                    <div>
                        <span class="text-purple-800 text-sm">
                            <%=job.company.display_name%>
                        </span>
                        <h3 class="font-bold mt-px">
                            <%=job.title%>
                        </h3>
                        <div class="flex items-center gap-3 mt-2">
                            <span class="bg-purple-100 text-purple-700 rounded-full px-3 py-1 text-sm"><%=job.contract_time%></span>
                            <span class="text-slate-600 text-sm flex gap-1 items-center"> <svg
                                    xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                                <%=job.location.display_name%>
                            </span>
                        </div>
                    </div>
                    <div>
                        <a href="<%=job.redirect_url%>">
                        <button
                            class="bg-purple-900 text-white font-medium px-4 py-2 rounded-md flex gap-1 items-center">Apply
                            Now 
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                            </svg>
                            </svg></button>
                        </a>
                    </div>
                </div>
                <% } %>

        </div>
    







<script> 
let profileDropdown = document.getElementById('dropdownUserAvatarButton');
    let profile = document.getElementById('dropdownUserAvatar');

    profileDropdown.addEventListener('click', () => {

        profile.style.display = (profile.style.display === "none" || profile.style.display === "") ? "block" : "none";

    });
    let profil = document.getElementById('phone-dropdown');
    let open = document.getElementById('open');

    open.addEventListener('click', () => {
        profil.style.display = (profil.style.display === "none" || profil.style.display === "") ? "block" : "none";

    });
    </script>
</body>

</html>