<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body>
    <div id="container" style="width: 100%;height: 100%;">


        <nav class="relative shadow-xl text-white-700">
            <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
                <div class="flex items-center justify-between text-black-500">
                    <div class="logo" style="display: flex;align-items: center;justify-content: center; gap: 5px;">
                        <a href="#">
                            <img class="w-auto h-6 sm:h-7"
                                src="https://upload.wikimedia.org/wikipedia/en/e/ec/Official_logo_of_Biju_Patanaik_University_of_Technology.png"
                                alt="">
                        </a>
                        <h3>BPUT</h3>
                    </div>

                  
                </div>


                <div 
                    class="absolute inset-x-0 z-20 w-full px-6 hidden py-4 transition-all duration-300 ease-in-out bg-white  md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center">
                    <div class="flex flex-col md:flex-row md:mx-6">
                        <a class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-black-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0"
                            href="/">Home</a>


                    </div>





                  

                </div>
        </nav>

                <div class="bg-white overflow-hidden shadow  rounded-lg border">

                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Student Profile
                        </h3>

                        <p class="mt-1 max-w-2xl text-sm text-black-500">
                        <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                            <img class="inline-block  shrink-0 rounded-[.95rem] w-[150px] h-[150px]"
                                src="<%=student.profilePhoto%>" alt="avarat image">
                        </div>
                        </p>
                    </div>
                    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                        <dl class="sm:divide-y sm:divide-gray-200">
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    College name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.college %> , <%=student.university%>
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Full name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.name %>
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Email address
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.email %>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Phone number
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.number %>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Address
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.address%><br>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Gender
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.gender%><br>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Department
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.department%><br>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Registration number
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.registrationNumber%><br>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Country
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.country%><br>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Cgpa
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <%=student.cgpa%><br>

                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Skills
                                </dt>
                                <dd id="search2"
                                    class="mt-1 text-sm text-gray-900 sm:mt-0 leading-loose tracking-wide  sm:col-span-2">
                                    <%=student.skills%><br>

                                </dd>
                            </div>
                                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        certificates
                                    </dt>
                                    <dd id="search2"
                                        class="mt-1 text-sm text-gray-900 sm:mt-0 leading-loose tracking-wide  sm:col-span-2">
                                        <%=student.certificate%><br>
    
                                    </dd>
                                </div>
                        </dl>
                    </div>
                </div>

                <div id="search-result" class="max-w-xl mx-auto p-6 bg-white rounded-lg w-full shadow my-10">


                    <div class="rounded-md shadow-sm">
                      
                     
                        <a href="/resume/<%=student._id%>"> <button
                                class="text-slate-800 hover:text-blue-600 text-sm bg-white mr-4 hover:bg-slate-100 border border-slate-200 rounded-r-lg font-medium px-4 py-2 inline-flex space-x-1 items-center">
                                <span>
                                    <i class="ri-file-edit-line"></i>
                                </span>
                                <span>Create Resume</span>
                            </button>
                        </a>

                        <form action="/jobs/adzuna" method="post">
                            <button
                                class="text-slate-800 hover:text-blue-600 text-sm bg-white mr-4 hover:bg-slate-100  mt-2 border border-slate-200 rounded-r-lg font-medium px-4 py-2 inline-flex space-x-1 items-center">
                                <span>
                                    <i class="ri-find-replace-line"></i>
                                </span>
                                <input type="text" hidden name="skills" value="<%=student.skills%>">
                               
                                <span>find job</span>
                            </button>
                        </form>
                    </div>

                    <!-- <form action="/jobs/adzuna" method="post">
                        <input type="text" value="" hidden name="skills">
                        <button>submit</button>
                    </form>  -->
                </div>

    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        let profileDropdown = document.getElementById('dropdownUserAvatarButton');
        let profile = document.getElementById('dropdownUserAvatar');

        profileDropdown.addEventListener('click', () => {

            profile.style.display = (profile.style.display === "none" || profile.style.display === "") ? "block" : "none";

        });
        let profil = document.getElementById('phone-dropdown');
        let open = document.getElementById('open');

        open.addEventListener('click', () => {
            profil.style.display = (profil.style.display === "none" || profil.style.display === "") ? "block" : "none";

        });
        let inp = document.getElementById('search')
        let clutter = "";
        inp.addEventListener("input", () => {
            axios.get(`/gemini/${inp.value}`).then((data) => {
                clutter = ""

                data.data.forEach(elem => {
                    clutter +=

                        ` <ul>
      

              <a href="/student/${elem._id}">      
     
                                                <div
                                                    class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100">
                                                    <div class="w-6 flex flex-col items-center">
                                                        <div
                                                            class="flex relative w-5 h-5 bg-orange-500 justify-center items-center m-1 mr-2 w-4 h-4 mt-1 rounded-full ">
                                                            <img class="rounded-full" alt="A"
                                                                src="${elem}">
                                                        </div>
                                                    </div>
                                                    <div class="w-full items-center flex">
                                                        <div class="mx-2 -mt-1  ">${elem.name}
                                                            <div
                                                                class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500">
                                                        ${elem.department}</div>
                                                        </div>
                                                    </div>
                                                </div>
    </a>`


                });


                document.getElementById('search-result').innerHTML = clutter;
            })
        })







        const inputField = document.getElementById('input-skill');
        if (!inputField.value) {
            inputField.value = "<%= student.skills %>";
        }

        // window.onload.bind
        // setTimeout(() => {
        //         const alertDiv = document.getElementById('alert');
        //         alertDiv.style.display = 'none';

        //     }, 3000);

    </script>
</body>

</html>